<style>
    .element-invisible {
        display: none;
    }

    body {
        line-height: 23px !important;
        color: black !important;
    }

    #templateFooter {
        margin-top: 100px !important;
    }

    #dedicatedTo {
        text-align: center;
        margin: 40px !important;
    }

    #dedicatedTo h2 {
        font-size: 20px !important;
    }

    #colophonEnd {
        margin-top: 50px !important;
        text-align: center;
    }

    .pdf-file-icon {
        width: 20px;
    }

    .os-files-other-list {
        background: #eeeeee;
        margin-bottom: 10px;
    }


</style>