<!-- header -->

<!-- navbar -->
<div id="yashiro-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown" class="dropdown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">A few words (Lino pertile)</a>
                        </li>
                        <li><a href="#">Letter (Wakaba Yashiro)</a>
                        </li>
                        <li><a href="#">Introduction (Jonathan K. Nelson)</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Letters <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">The Yashiro-Berenson Correspondence (Michiaki Koshikawa)</a>
                        </li>
                        <li><a href="#">Letters</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">People</a>
                </li>
                <li><a href="#">Images</a>
                </li>
                <li class="dropdown" class="dropdown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Texts by Yashiro <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">My Life in the Fine Arts (Tokyo: 1972)</a>
                        </li>
                        <li><a href="#">Sandro Botticelli (London and Boston: 1925)</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" class="dropdown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Studies on Yashiro <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Hatcher, </a>
                        </li>
                        <li><a href="#">Takagishi, </a>
                        </li>
                        <li><a href="#">Yamanashi, </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Berenson <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Gorman, </a>
                        </li>
                        <li><a href="#">Strehlke, </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    #yashiro-menu.navbar-default .navbar-brand {
        color: rgba(255, 255, 255, 1);
    }
    #yashiro-menu.navbar-default {
        font-size: 14px;
        background-color: rgba(162, 51, 56, 1);
        border-bottom-width: 1px;
    }
    #yashiro-menu.navbar-default .navbar-nav>li>a {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(162, 51, 56, 1);
    }
    #yashiro-menu.navbar-default .navbar-nav>li>a:hover,
    #yashiro-menu.navbar-default .navbar-nav>li>a:focus {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(117, 35, 38, 1);
    }
    #yashiro-menu.navbar-default .navbar-nav>.active>a,
    #yashiro-menu.navbar-default .navbar-nav>.active>a:hover,
    #yashiro-menu.navbar-default .navbar-nav>.active>a:focus {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(162, 51, 56, 1);
    }
    #yashiro-menu.navbar-default .navbar-toggle {
        border-color: #a23338;
    }
    #yashiro-menu.navbar-default .navbar-toggle:hover,
    #yashiro-menu.navbar-default .navbar-toggle:focus {
        background-color: #a23338;
    }
    #yashiro-menu.navbar-default .navbar-toggle .icon-bar {
        background-color: #a23338;
    }
    #yashiro-menu.navbar-default .navbar-toggle:hover .icon-bar,
    #yashiro-menu.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #a23338;
    }
    #yashiro-menu {
        font-family: Georgia;
    }
</style>
<!-- /navbar -->
<!-- /header -->