<link href="/assets/styles/annotation.css" rel="stylesheet" />
<ol class="page-breadcrumb">
  <li>
    <semantic-link iri="http://www.researchspace.org/resource/Letters"
      >Letters</semantic-link
    >
  </li>
  <li class="active">Document</li>
</ol>

<div class="page">
  <div class="page__body yashiro-editor-page">
    <div class="yashiro-editor-container">

      <bs-row>
        <bs-col md="3"></bs-col>
        <bs-col md="6">
          <mp-field-visualization
          subject="[[this]]"
          fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.metaphacts.com/ontology/fields#domain> <https://collection.itatti.harvard.edu/yashiro/annotation-schema/TextDocument>}"]]'
          template="{{> metadata}}"
        >

        <template id="metadata">
          <div>
            <h3>Metadata</h3>
            <div data-flex-layout="row">
              <div>
              </div>
            </div>
            {{#each fields}}
              {{> field}}
            {{/each}}
          </div>
        </template>
        <template id="field">
          <!-- Places -->
          {{#ifCond this.label.0._value "===" "letter_places"}}
            {{#each this.values}}
              {{> row lbl="Sending place" val=value._value}}
            {{/each}}
          {{/ifCond}}

          <!-- Date -->
          {{#ifCond this.label.0._value "===" "letter_date"}}
            {{> row lbl="Date" val=this.values.0.value._value date=this.values.0.label}}
          {{/ifCond}}

          <!-- People -->
          {{#ifCond this.label.0._value "===" "letter_people"}}
            {{#each this.values}}
              {{> row lbl=label val=value._value}}
            {{/each}}
          {{/ifCond}}

          <!-- Title -->
          {{#ifCond this.label.0._value "===" "letter_title"}}
            {{> row lbl="Title" val=this.values.0.value._value}}
          {{/ifCond}}
        </template>

        <template id="row">
          <div data-flex-layout="row">
            <bs-col sm="2" md="3">
              <b>{{ lbl }}:</b>
            </bs-col>
            <bs-col sm="2" md="9">
              <semantic-link iri="{{ val }}">{{date}}</semantic-link>
            </bs-col>
          </div>
        </template> 

        </mp-field-visualization>
        </bs-col>
        <bs-col md="3"></bs-col>
      </bs-row>

      <bs-row>
        <bs-col md="3" style="padding-top: 55px;">
          <img style="width: 100%" src="../../assets/images/yashiro.jpg" alt="">
        </bs-col>
        <bs-col md="9">
          <h3>Letter</h3>
                <!-- Document body + annotation sidebar -->
      <semantic-context repository="default">
        <rs-text-annotation-workspace
          document-iri="[[this]]"
          storage="yashiro"
          annotation-subject-template="https://collection.itatti.harvard.edu/yashiro/annotation/{{UUID}}"
          fallback-template="{{> fallback-template}}"
          annotation-tooltip="{{> annotation-tooltip}}"
        >
          <template id="fallback-template">
 
            {{#> yashiro:AnnotationTemplate}}
            Missing type for annotation
            <semantic-link iri="{{ iri.value }}"></semantic-link>
            {{/ yashiro:AnnotationTemplate}}
          </template>

          <template id="annotation-tooltip">
            <div>
              {{#if allowEdit}}
              <button
                name="edit"
                class="btn btn-xs btn-default"
                data-annotation="{{ iri.value }}"
                title="Edit annotation"
              >
                <span class="fa fa-pencil" style="pointer-events: none;"></span>
              </button>
              {{else}}
              <button
                name="edit"
                class="btn btn-xs btn-default"
                disabled
                title="Edit annotation"
              >
                <span class="fa fa-pencil" style="pointer-events: none;"></span>
              </button>
              {{/if}}
              {{#if allowDelete}}
              <button
                name="delete"
                class="btn btn-xs btn-default"
                data-annotation="{{ iri.value }}"
                title="Delete annotation"
              >
                <span class="fa fa-trash" style="pointer-events: none;"></span>
              </button>
              {{else}}
              <button
                name="delete"
                class="btn btn-xs btn-default"
                disabled
                title="Delete annotation"
              >
                <span class="fa fa-trash" style="pointer-events: none;"></span>
              </button>
              {{/if}}
            </div>
          </template>

          [[> yashiro-annotation:Person ]] 
        </rs-text-annotation-workspace>
      </semantic-context>
        </bs-col>
      </bs-row>

    
    </div>
  </div>
</div>
