<link href="/assets/styles/annotation.css" rel="stylesheet" />
<ol class="page-breadcrumb">
  <li>
    <semantic-link iri="http://www.researchspace.org/resource/Letters"
      >Letters</semantic-link
    >
  </li>
  <li class="active">Document</li>
</ol>

<div class="page">

    <div class="container">
        
        <mp-field-visualization
          subject="[[this]]"
          fields='[[fieldDefinitionsFromQuery "SELECT ?field WHERE { ?field <http://www.metaphacts.com/ontology/fields#domain> yashiro:Person}"]]'
          template="{{> fields}}"
        >

            <template id='fields'>
              <div>
                {{#each fields}}
                  {{> field}}
                {{/each}}
              </div>
            </template>

            <template id="field">
              {{#ifCond this.label.0._value "===" "person_name"}}
                {{> name}}
              {{/ifCond}}

              {{#ifCond this.label.0._value "===" "person_letters"}}
                {{> letters}}
              {{/ifCond}}
            </template>

            <template id="name">
              <h1>{{this.values.0.label}}</h1>
            </template>

            <template id="letters">
              <div>
                <b>Mentioned in the following letters: </b>
                <ul>
                  {{#each this.values}}
                    <li>
                      <semantic-link iri="{{value}}">{{label}}</semantic-link> 
                    </li>
                  {{/each}}
                </ul> 
              </div>
            </template>
        </mp-field-visualization>
    </div>

   

</div>